.img {
  border-color: #999;
  border-width:3px;
  transition: border-color 200ms ease-out, color 200ms ease-out
}

.img, h3, p { cursor: pointer }
.list:hover > .img,
.list:hover > span {
  border-color: #1880F9;
  color: #1880F9;
}

.home, add {
  position: absolute;
  top: 0
}

.transitionOutAdd {
  transform: translateX(100%);
  transition: transform 700ms ease;
}

.transitionOutHome {
  transform: translateX(-100%);
  transition: transform 700ms ease;
}

.transitionIn {
  transform: translateX(0);
  transition: transform 600ms 500ms ease;
}

